* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./Images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Segoe UI", sans-serif;
}
main {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: max-content;
    flex-wrap: wrap;
    padding: 2%;
}
.aside {
    position: sticky;     
    top: 0;               
    left: 0;              
    min-width: 15%;           
    padding: 10px;
    opacity: 0.8;
    transition: all 0.3s ease;
    border-top-left-radius: 8px;
    flex-shrink: 0;       
    min-width: max-content;
}

.primetech-logo {
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 2px;
  color: #ffffff;
  font-family: "Segoe UI", sans-serif;
  position: relative;
  cursor: pointer;
  background-color: black;
}

.primetech-logo span {
  color: #0a84ff;   
}

.primetech-logo {
    color: white;
    text-decoration: none;
    transition: all .3s ease;
}
.primetech-logo:hover {
    color: #1abc9c;
    transform: scale(1.05);
    text-shadow:
    0 0 5px rgba(0, 0, 0, 0.4),
    0 0 10px rgba(10,132,255,0.4),
    0 0 20px rgba(129, 155, 180, 0.6);
}

.aside ul {
    list-style: none;
    background-color:#0F172A;
    color: #94A3B8;
    opacity: .5;
    height: 92vh;
    margin: 10px;
    transition: all .3s ease;
    margin-top: 10px;
    border-top-left-radius: 8px;
}
.aside > ul{
    margin: 10px; 
    list-style: none;
    width: 100%;
    padding: 10px;
}
.aside ul li {
    padding: 1vh;
    margin-bottom: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.aside ul li i {
    padding-right: 20px;
}
.aside > ul li:hover {
    background-color: rgba(10, 132, 255, 0.8);
    color: #fff;
}
.aside ul li i {
    margin-right: 10%;
    width: 20px;
    transition: color .3s ease;
}


.content {
    flex: 1;
    margin-top: 10px;    
}
.header {
    width: 100%;
    position: relative;
    background-color: #1a2744;
    opacity: .8;
    height: 8%;
    min-height: 80px;
    display: flex;
    align-items: center;
    border-top-right-radius: 20px;

}
.header i {
    font-size: 30px;
    cursor: pointer;
    float: left;
    padding: 3vh;
}
.header .right {
    margin-left: auto;   
    display: flex;
    align-items: center;
    color: rgb(255, 251, 251);
    font-weight: bold;
}

.header .right img {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    cursor: pointer;
    margin: 5px;
    
}
.header .right .name {
    vertical-align: calc(100%);
}
.header .right .role {
    vertical-align: calc(100%);
    margin-right: 2vw;
}
.header .right .name .separate{
   margin-left: 3px;
   color: #1abc9c;
   font-size: 20px;
}
.article {
    background-color: #f1f1f1;
    width: 100%;
    height: 90%;
    padding: 2vw;
}
.article > h2 {
    padding-bottom: 10px;
}
.article p .branch {
    font-weight: 100;
    margin-left: 10px;
    color: gray;
}

.article .totals {
    height: 200px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

}
.totals .left , .mid {
    min-width:  25%;
    background-color: rgb(253, 248, 248);
    padding: 20px;
    padding-top:25px;
    display: flex;
    border-radius: 10px;
}
.totals .left .left {
    width:30%;
    height: 50%;
    font-size: 40px;
    color: #0a84ff;
    background-color: #90dacb;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .8;
    border-radius: 12%;
}
.totals .left .mid {
    display: flex;
    flex-direction: column;
    align-items: start;
    min-width:50%;
    height: 100%;
    padding-left: 5%;
    font-weight: 500;
    font-size: 30px;
}
.totals .left .right {
    min-width: 20%; 
    padding-left: 15px;
    min-height: 100%;
    font-size: 40px;
    color: #0a84ff;
}   
.totals > .mid {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}
.totals>.mid > .left {
    font-size: 30px;
    color: orange;
    background-color: #e9d5b7;
    height:50%;
}
.totals > .mid> .mid {
    display: flex;
    font-weight: 600;
    flex-direction: column;
    font-size: 30px;
}

.totals > .right {
    flex: 1;
    background-color: rgb(253, 248, 248);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.totals > .right > .upper {
    display: flex;
    justify-content: space-around;
    height: 75%;
    padding: 10px;
}
.totals > .right > .upper > .left{
    font-size: 50px;
    background-color: rgba(37, 168, 42, 0.5);
    color: #12b818;
    height: 80%;
    display:flex;
    align-items: center;
    justify-content: center;

}
.totals > .right > .upper > .mid {
    display:  flex;
    flex-direction: column;
    font-size: 30px;
    opacity: 1;
}
.totals > .right > .upper > .right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    font-size: 30px;
}
.opa {
    opacity: .7;
    font-size: 20px;
}
.totals > .right > .lower  {
    width: 100%;
    height: 5px;
    background: linear-gradient(to left, green 0%, white 100%);
}

/* .second {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: mi-content;
} */
.second {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
}

.second > .recent {
    width: 51.5%;
    border-radius: 10px;
    background-color: rgb(253, 248, 248);
    display:flex;
    flex-direction: column;
    padding: 15px;
}

.recent > .ordHead , .adminManagement > .adminHead {
    width: 100%;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; 
}
 .recent >.ordHead > button  {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 0;
    color: #606a79;
    border-radius: 8px;
    cursor: pointer;
 }
 .recent > table {
    width: 100%;
    border-collapse: collapse;
}
.recent >.recTable th:nth-child(-n+3),
.recent>.recTable td:nth-child(-n+3) {
    opacity: 0.7; 
}
.recent > table > thead , .adminManagement> table > thead  , .prodManagment{
    background-color: #f1f1f1;
    padding: 12px;
}
.recent > table > tbody> tr, td , .adminManagement > table > tbody > tr,td {
    padding: 15px;
    vertical-align: middle;
    
}
.status {
    border-radius: 12px;
    font-size: 12px;
    font-weight: 600;
    display: block;
    padding: 12px 15px;
    background-color: orange;
    color: white;
}

.status.pending {
    background-color: #ff9800; 
}

.status.completed {
    background-color    : #4caf50; 
}

.status.cancelled {
    background-color: #f44336; 
}
.second > .adminManagement {
    width: 47%;
    border-radius: 10px;
    padding: 12px;
    background-color: rgb(253, 248, 248);
    display: flex;
    flex-direction: column;
}
/* .second > .adminManagement {
   width: 47%;
   height: 100%;
   border-radius: 10px;
   padding: 12px;
   background-color: rgb(253, 248, 248);
} */
 .view-btn {      
   padding: 10px 20px 10px 20px;
   border-radius: 5px;
   border: 0;
   font-weight: 600;
   color: white;
   background-color: #1e5c99;
   cursor: pointer;
}
.adminManagement > .adminHead >button  , .prodManagment > .prodHead > button{
    padding: 12px;
    border-radius: 6px;
    background-color: #1e5c99;
    color: white;
    font-weight: 600;
    cursor: pointer;
    border: none;
}
.second > .adminManagement > table {
    width: 100%;
    border-collapse: collapse;
    opacity: .7;

}
.adminManagement  i {
    cursor: pointer;
}

.prodManagment {
    width: 100%;
    height: max-content;
    background-color: rgb(253, 248, 248);
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.prodManagment > .prodHead {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.prodManagment > .prodTable {
    width: 100%;
    padding: 10px;
    border-collapse: collapse   ;
}
.prodTable > thead {
    background-color: #f1f1f1;
    opacity: .7;
}
.prodHead > tbody >  tr , td {
    padding: 10px;
}
 .prodManagment > .prodTable th:nth-child(n),
 .prodManagment > .prodTable td:nth-child(n+2):nth-child(-n+5) {
    opacity: 0.7;
}


.prodhead > th, td {
    text-align: left;
    vertical-align: middle;
    padding: 10px;
}

.col-image { width: 8%; }
.col-name  { width: 30%; } 
.col-cat   { width: 15%; }
.col-price { width: 10%; }
.col-stock { width: 12%; }
.col-action1{ width: 12%; }
.col-action2{ 
    width: 12%; 
}
.col-action1 > button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    padding: 10px;
    border: 0;
    background-color:#1e5c99;
    color: white;
    border-radius: 10%;
    cursor: pointer;
}
.col-action2> button , .col-action2> button > i {
    border: 0;
    padding-left: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    font-weight: 600;
    background-color: red;
    color: white;
    cursor: pointer;
    border-radius: 5px;

}
.pagination {
      display: flex;
      gap: 5px;
      justify-content: center;
    }

    .pagination button {
      padding: 6px 10px;
      border: 1px solid #aaa;
      background: white;
      cursor: pointer;
    }

    .pagination button.active {
      background: #333;
      color: white;
    }

    .pagination button:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    /* eidt content popUp window styling  */

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-box {
  background: #fff;
  padding: 20px;
  width: 30%;
  margin: 15% auto;
  border-radius: 6px;
}
.modal-box > .line {
    display: flex;
    gap:5px;
    
}
.modal-box > .line > input , .modal-box > .lineImage > input {
    padding: 10px;
    width: 60%;
    border: none;
}
.modal-box > .lineImage {
    display: flex;
    flex-direction: column;
}

.modal-box > .modal-actions {
  display: flex;
  justify-content: center;
  gap:5px;
  margin-top: 15px;
  text-align: right;
}
.modal-box > .modal-actions > button {
    padding: 5px;
}





